---
import { Button, Paragraph, Form, Field, Label, Text } from '@resolut/solid'
import AuthenticationLayout from '@/nexus/client/layouts/auth.astro'

const TITLE = 'Nexus - opret virksomhed'
const BACK = '/authentication/signup/business/owners'
const NEXT = '/authentication/signup/business/owners'
---

<AuthenticationLayout title={TITLE} greeting="Velkommen" back={BACK}>
    <Paragraph id="question">Indlæser...</Paragraph>
    <Form grid columns="repeat(4, 1fr)" rows="repeat(2, 1fr)" padding="2rem 0" width="32rem" gap="2rem">
        <Field flex vertical gap="0.5rem" column="span-all" row={1}>
            <Label for="private-email">Privat e-mail</Label>
            <Text name="private-email" stretch />
        </Field>
        <Field flex vertical gap="0.5rem" column="span-all" row={2}>
            <Label for="private-phone">Privat telefonummer</Label>
            <Text name="private-phone" stretch />
        </Field>
    </Form>
    <Button width="32rem" transition:name="primary-button">Næste</Button>
</AuthenticationLayout>
<script>
    import { $CreateCompany } from '@/nexus/client/stores'

    document.addEventListener('astro:page-load', () => {
        const question = document.getElementById('question') as HTMLParagraphElement | undefined
        const button = document.querySelector('button') as HTMLButtonElement | undefined

        if (!question || !button) return

        let index = 0
        const owners = $CreateCompany.store.get().owners

        const setQuestion = (index: number) => {
            const name = `${owners[index].firstname} ${owners[index].surname}`

            question.innerText = `Udfyld nedenstående om ${name}`
        }

        setQuestion(index)

        button.addEventListener('click', () => {
            index++
            setQuestion(index)
        })
    })
</script>
